<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="frege.ide.parser"
         name="frege Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="frege.imp.parser.FregeParseController"
            language="frege">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="frege.imp.tokenColorer.FregeTokenColorer"
            language="frege">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            url="http://code.google.com/p/frege"
            extensions="fr"
            description="Frege Programming Language"
            language="frege">
      </language>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="frege.imp.preferences.FregePreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Frege"
            class="frege.imp.preferences.FregePreferencesPage"
            id="frege.imp.preferences.Frege">
      </page>
   </extension>
   <extension
         id="frege.builder"
         name="Frege builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="frege.imp.builders.FregeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="frege.nature"
         name="Frege Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="frege.ide.frege.builder">
      </builder>
      <runtime>
         <run
               class="frege.imp.builders.FregeNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="frege.problem"
         name="Frege Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="frege.projectContextMenu">
         <action
               label="Enable Frege Builder"
               tooltip="Enable the frege builder for this project"
               class="frege.imp.actions.EnableFregeNature"
               id="frege.imp.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
