<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="FregIDE.parser"
         name="frege Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="frege.imp.parser.FregeParseController"
            language="frege">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="frege.imp.preferences.FregeInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="frege.imp.tokenColorer.FregeTokenColorer"
            language="frege">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            url="http://code.google.com/p/frege"
            extensions="fr"
            description="Frege Programming Language"
            language="frege">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Frege"
            class="frege.imp.preferences.FregePreferencePage"
            id="frege.imp.preferences.Frege">
      </page>
   </extension>

</plugin>
