##########################
# those should be ignored
##########################
*.class
*.jar
trunk/build/
trunk/doc/*.html
trunk/doc/frege/
trunk/doc/resources/
trunk/doc/*.css
trunk/doc/package-list
trunk/frege/compiler/Grammar.fr
trunk/y.*
trunk/FregIDE/src/frege/IO.java
trunk/FregIDE/src/frege/List.java
trunk/FregIDE/src/frege/MD.java
trunk/FregIDE/src/frege/Prelude.java
trunk/FregIDE/src/frege/PreludeProperties.java
trunk/FregIDE/src/frege/RT.java
trunk/FregIDE/src/frege/compiler/
trunk/FregIDE/src/frege/control/
trunk/FregIDE/src/frege/data/
trunk/FregIDE/src/frege/j/
trunk/FregIDE/src/frege/lib/
trunk/FregIDE/src/frege/prelude/
trunk/FregIDE/src/frege/rt/
trunk/FregIDE/src/frege/tools/

#################
## Eclipse
#################

*.pydevproject
trunk/*/.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
trunk/*/.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


