##########################
# those should be ignored
##########################
*.class
*.jar
dist/
build/
doc/*.html
doc/frege/
doc/resources/
doc/*.css
doc/package-list
frege/compiler/Grammar.fr
frege/Version.fr
y.*
FregIDE/src/frege/IO.java
FregIDE/src/frege/Version.java
FregIDE/src/frege/List.java
FregIDE/src/frege/MD.java
FregIDE/src/frege/Prelude.java
FregIDE/src/frege/PreludeProperties.java
FregIDE/src/frege/RT.java
FregIDE/src/frege/compiler/
FregIDE/src/frege/control/
FregIDE/src/frege/data/
FregIDE/src/frege/j/
FregIDE/src/frege/lib/
FregIDE/src/frege/prelude/
FregIDE/src/frege/rt/
FregIDE/src/frege/tools/
frege/Scrap.fr

#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


