language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y byacc

before_script:
  - mkdir -p build dist doc
  # Get the latest fregec.jar to compile the compiler
  - curl -L -o fregec.jar https://github.com/Frege/frege/releases/download/3.24alpha/frege3.24.80.jar

script:
  - make compiler1
